<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main class="main-container-login-page">
      <form action="/signup" method="POST">
        <div class="login-form">
          <% errorMessages.forEach((errorMessage)=>{%>
          <div class="alert-message"><%= errorMessage.message%></div>
          <%}) %> <% updateMessages.forEach((updateMessage)=>{%>
          <div class="update-message"><%= updateMessage%></div>
          <%}) %>
          <div class="email-inputs">
            <label for="emial">Email</label>
            <input
              class="<%= errorMessages.find((element)=> element.path[0]=='email')? 'invalid':'' %>"
              type="text"
              name="email"
              id="emialInput"
              required
            />
          </div>
          <div class="email-inputs">
            <label for="userName">User Name</label>
            <input
              class="<%= errorMessages.find((element)=> element.path[0]=='userName')? 'invalid':'' %>"
              type="text"
              name="userName"
              id="userNameInput"
              required
            />
          </div>
          <div class="password-inputs">
            <label for="password"> Password </label>
            <input
              class="<%= errorMessages.find((element)=> element.path[0]=='password')? 'invalid':'' %>"
              type="password"
              name="password"
              id="passwordInput"
              required
            />
          </div>

          <button type="submit">signup</button>
        </div>
      </form>

      <div class="signup">
        Already have account? <a href="/login"> login.</a>
      </div>
    </main>
  </body>
</html>
