<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <h1>List of all products</h1>

      <div class="products-container">
        <% products.forEach((product)=>{ %>
        <div class="product-card">
          <span class="title"><%= product.title %></span>
          <div class="description"><%= product.description %></div>
          <div class="description"><%= product.price %></div>
          <div class="actions">
            <form action="/admin/delete-product" method="POST">
              <button type="submit" class="btn caution">Delete</button>

              <input type="hidden" name="productId" value="<%=product.id%>" />
            </form>
            <a href="/admin/add-product?product=<%=product.id%>" class="btn"
              >Edit</a
            >
          </div>
        </div>

        <%})%>
      </div>
    </main>
  </body>
</html>
