<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navigation.ejs')%>
    <main>
      <h1>List of all Orders</h1>

      <div class="products-container">
        <% orders.forEach((order)=>{ %>
        <div class="product-card">
          <span class="title"> Title: <%= order.title %></span>
          <span>Total Price: <%= order.total_price %></span>
          <div class="actions">
            <a href="/order/<%=order.id%>" class="btn"> details </a>
          </div>
        </div>
        <%})%>
      </div>
    </main>
  </body>
</html>
