<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <div class="products-container">
        <div class="product-card">
          <span class="title"><%= product.title %></span>
          <div class="description"><%= product.description %></div>
          <div class="description"><%= product.price %></div>
        </div>
      </div>
    </main>
  </body>
</html>
